.about {
    background-color: $backgroundSecondary;
    // height: 80vh;
    padding: 5% 0;
    h2 {
        text-align: center;
        padding: 5% 0;
    }
}

.about .contentContainer {
    display: flex;
    justify-content: space-between;
    .textContainer {
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        // align-items: center;
        align-items: flex-end;
        text-align: right;
        justify-content: flex-end;
        padding-left: 20%;
        p {
            margin-bottom: 5%;
            line-height: 28px;
        }
    }
}

.taglineSpan {
    display: block;
}