* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

// Button Style
button {
    background-color: $backgroundSecondary;
    border: 1px solid #FFF;
    font-family: $bodyFont;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2% 5%;
    border-radius: 30px;
    // outline: none;
    &:hover,
    &:focus {
        background-color: $backgroundPrimary;
        border: 1px solid $textColourPrimary;
        color: $textColourPrimary;
    }
}


// Footer Style

footer {
    background-color: $backgroundSecondary;
    padding: 1%;
}