.contact {
    background-color: $backgroundPrimary;
    padding: 5%;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactText {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    width: 40%;
    p {
        margin-bottom: 10%;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 1rem;
    }
    a {
        margin-bottom: 2%;
        text-decoration: none;
        letter-spacing: 1px;
        color: $textColourPrimary;
        &:hover,
        &:focus {
            border-bottom: 1px solid $backgroundSecondary;
        }
    }
}

.contactForm {
    // display: flex;
    // flex-direction: column;
    width: 50%;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    li {
        margin-right: 5%;
    }
    i {
        font-size: 2rem;
        color: #FFF;
        &:hover,
        &:focus {
            color: $backgroundSecondary;
        }
    }
}


// Form Styling

input, textarea {
    padding: 0 0 10px 5px;
    border: none;
    margin-bottom: 5%;
    color: #333;
    background-color: $backgroundPrimary;
    font-family: $bodyFont;
    width: 100%;
    &::placeholder{
        font-size: 0.8rem;
        color: $textColourPrimary;
        opacity: 1;
        // line-height: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &:hover,
    &:focus {
        border-bottom: 2px solid $backgroundSecondary;
    }
}

input {
    border: none;
    border-bottom: 2px solid $lineColor; 
}

textarea {
    resize: none;
    min-height: 130px;
    border-bottom: 2px solid $lineColor;
    border-top: none;
}

.contact .brush {
    background-image: url(../assets/images/brush-stroke-banner-5.svg);
    background-repeat: no-repeat;
    // background-color: blue;
    background-size: 100% 95%;
    padding: 8px 0;
    display: block;
}