.contact {
    background-color: $backgroundPrimary;
    padding: 5%;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactText {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    width: 40%;
}

.contactForm {
    // display: flex;
    // flex-direction: column;
    width: 50%;
}

.socialIcons {
    display: flex;
    flex-direction: row;
}


// Form Styling

input, textarea {
    padding: 0 0 10px 5px;
    border: none;
    margin-bottom: 5%;
    color: #333;
    background-color: $backgroundPrimary;
    font-family: $bodyFont;
    width: 100%;
    &::placeholder{
        font-size: 0.8rem;
        color: $textColourPrimary;
        opacity: 1;
        // line-height: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &:hover,
    &:focus {
        border-bottom: 2px solid $backgroundSecondary;
    }
}

input {
    border: none;
    border-bottom: 2px solid $lineColor; 
}

textarea {
    resize: none;
    min-height: 130px;
    border-bottom: 2px solid $lineColor;
    border-top: none;
}