/* Site Text */

html {
    font-size: 125%;
}

body {
    font-weight: 400;
    font-size: 0.7rem;
    // color: #16100E;
    // color: #FFF;
    // change this to specific section
        // line-height: 28px;
    font-family: $bodyFont;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

h1 {
    letter-spacing: 2.04px;
    color: #16100E;
    // color: #FFF;
    // font-size: 7.15rem;
    font-size: 5rem;
    font-weight: 400;
    line-height: 95px;
}

h2 {
    color: #FFF;
    // color: black;
    font-size: 5rem;
    letter-spacing: 1.43px;
    font-weight: 400;
}

h3 {
    color: #16100E;
    // color: #FFF;
    font-size: 3.47rem;
    letter-spacing: 0.99px;
    font-weight: 400;
}

h4 {
    color: #16100E;
    // color: #FFF;
    font-size: 3.15rem;
    letter-spacing: 0.9px;
    font-weight: 400;
}

.mainNav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #16100E;
    letter-spacing: 2px;
}

.about p {
    color: #FFF;
}

.tagline {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 28px;
}