/* Site Text */

html {
    font-size: 125%;
}

body {
    font-weight: 400;
    font-size: 0.7rem;
    // font-size: 1rem;
    // color: #16100E;
    // color: #FFF;
    // change this to specific section
    // line-height: 28px;
    font-family: $bodyFont;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

h1 {
    letter-spacing: 2.04px;
    // color: #16100E;
    color: #FFF;
    font-size: 4.5rem;
    // font-size: 5rem;
    font-weight: 400;
    margin: 0;
    // background-image: url(../assets/images/brush-stroke-banner-3.svg);
    // background-size: 100% 95%;
    // padding: 8px 0;
    // display: inline-block;
    // padding-bottom: 1%;
    // line-height: 95px;
}

h2 {
    color: #FFF;
    // color: black;
    font-size: 5rem;
    letter-spacing: 1.43px;
    font-weight: 400;
}

h3 {
    color: #16100E;
    // font-size: 3.47rem;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 5%;
}

h4 {
    color: #16100E;
    // color: #FFF;
    font-size: 3.15rem;
    letter-spacing: 0.9px;
    font-weight: 400;
    padding: 10% 0;
}

.mainNav a {
    text-decoration: none;
    text-transform: uppercase;
    color: $textColourPrimary;
    letter-spacing: 2px;
    &:hover,
    &:focus {
        border-bottom: 1px solid $textColourPrimary;
    }
}

.titleHeader {
    color: $textColourPrimary;
    font-size: 3rem;
    padding: 0;
}

.about h2 {
    color: $textColourPrimary;
}

.about p {
    color: #FFF;
    font-size: 1rem;
}

.about a {
    background-color: $backgroundSecondary;
    border: 1px solid #FFF;
    font-family: $bodyFont;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2% 5%;
    border-radius: 30px;
    text-decoration: none;
    // outline: none;
    &:hover,
    &:focus {
        background-color: $backgroundPrimary;
        border: 1px solid $textColourPrimary;
        color: $textColourPrimary;
    }
}

.tagline {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 28px;
}

.featuredProjects .tagline,
.featuredProjects h3 {
    color: #FFF;
}

.projectDescription {
    line-height: 28px;
    font-size: 1rem;
}

.taglineNumber {
    // padding-bottom: 0.5%;
    line-height: 28px;
    border-bottom: 1px solid $lineColor;
    letter-spacing: 2px;
}

.project2 .taglineNumber,
.project1 .taglineNumber {
    border-bottom: 1px solid $textColourPrimary;
}

.skills h2 {
    // color: $textColourPrimary;
    color: $backgroundTertiary;
    text-align: center;
    padding: 5% 0;
}

.skillsList p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1rem;
}

// .featuredProjects a 
.featuredProjects .project2 .textContainer, .featuredProjects .project1 .textContainer {
    * {
        color: $textColourPrimary;
    }
}

.featuredLink {
    font-family: $headingFont;
    font-size: 1.2rem;
//     padding: 2% 5% 2% 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

// .featuredLink {
    .project2 .featuredLink,
    .project1 .featuredLink {
    // font-family: $headingFont;
    // font-size: 1.2rem;
    color: #FFF;
    // padding: 2% 5% 2% 0;
    padding: 2% 2%;
    // text-transform: uppercase;
    // letter-spacing: 1px;
    border: 1px solid $backgroundPrimary;
    // padding: 2%;
    margin-right: 2%;
    &:hover,
    &:focus {
        // padding-left: 5%;
        background-color: $backgroundSecondary;
        color: #FFF;
        border: 1px solid $backgroundPrimary;
        border-radius: 30px;
        // padding: 2%;
        // margin-right: 2%;
    }
    // &::after {
    //     content: url(../assets/images/Arrow-White-Right.png);
    //     // width: 20px;
    //     // height: 20px;
    //     width: 55px;
    //     height: 30px;
    //     padding-left: 1.5%;
    //     display: inline-block;
    //     transform: rotate(315deg);
    // }
}

.project4 .featuredLink,
.project3 .featuredLink {
        // font-family: $headingFont;
        // font-size: 1.2rem;
        // padding: 2% 5% 2% 2%;
        padding: 2% 2%;
        // text-transform: uppercase;
        // letter-spacing: 1px;
        color: #FFF;
        border: 1px solid $backgroundSecondary;
        margin-right: 2%;
        text-align: center;
        &:hover,
        &:focus {
            // padding-left: 5%;
            background-color: $backgroundPrimary;
            color: $textColourPrimary;
            border: 1px solid $backgroundPrimary;
            border-radius: 30px;
            // text-decoration: none;
            // margin-right: 2%;
        }
    }


.projectDescription a {
    text-decoration: none;
    &:hover,
    &:focus {
        border-bottom: 2px dashed $backgroundSecondary;
    }
}


footer p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    // color: #FFF;
    color: $textColourPrimary;
    font-size: 1rem;        
    }