/* Site Text */

html {
    font-size: 125%;
}

body {
    font-weight: 400;
    font-size: 0.7rem;
    color: #16100E;
    // color: #FFF;
    line-height: 28px;
    font-family: $bodyFont;
}

h1 {
    letter-spacing: 2.04px;
    color: #16100E;
    // color: #FFF;
    // font-size: 7.15rem;
    font-size: 5rem;
    font-weight: 400;
    font-family: $headingFont;
}

h2 {
    color: #FFF;
    font-size: 5rem;
    letter-spacing: 1.43px;
    font-weight: 400;
}

h3 {
    color: #16100E;
    // color: #FFF;
    font-size: 3.47rem;
    letter-spacing: 0.99px;
    font-weight: 400;
}

h4 {
    color: #16100E;
    // color: #FFF;
    font-size: 3.15rem;
    letter-spacing: 0.9px;
    font-weight: 400;
    font-family: $headingFont;
}


