/* Site Fonts */

@font-face{
    font-family: "Bigilla";
    src: url('../assets/fonts/bigella/OTF/Bigilla-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Bigilla";
    src: url('../assets/fonts/bigella/OTF/Bigilla.otf');
    font-weight: normal;
}

// @font-face {
//     font-family: "Open Sans";
//     src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
//     font-weight: normal;
// }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$headingFont: "Bigilla";
$bodyFont: 'Open Sans', sans-serif;

/* Site Colours */

$backgroundPrimary: #C9CABD;
$backgroundSecondary: #202316;
$backgroundTertiary: #FCFCFA;
$lineColor: #D8D8D8;

$textColourPrimary: #16100E;
