@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Site Fonts */
@font-face {
  font-family: "Bigilla";
  src: url("../assets/fonts/bigella/OTF/Bigilla-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Bigilla";
  src: url("../assets/fonts/bigella/OTF/Bigilla.otf");
  font-weight: normal;
}
/* Site Colours */
/* Site Text */
html {
  font-size: 125%;
}

body {
  font-weight: 400;
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Bigilla";
}

h1 {
  letter-spacing: 2.04px;
  color: #FFF;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #FFF;
  font-size: 5rem;
  letter-spacing: 1.43px;
  font-weight: 400;
}

h3 {
  color: #16100E;
  font-size: 3.2rem;
  letter-spacing: 1px;
  font-weight: 400;
  padding-bottom: 5%;
}

h4 {
  color: #16100E;
  font-size: 3.15rem;
  letter-spacing: 0.9px;
  font-weight: 400;
  padding: 10% 0;
}

.mainNav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #16100E;
  letter-spacing: 2px;
}
.mainNav a:hover, .mainNav a:focus {
  border-bottom: 1px solid #16100E;
}

.titleHeader {
  color: #16100E;
  font-size: 3rem;
  padding: 0;
}

.about h2 {
  color: #16100E;
}

.about p {
  color: #FFF;
  font-size: 1rem;
}

.about a {
  background-color: #202316;
  border: 1px solid #FFF;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2% 5%;
  border-radius: 30px;
  text-decoration: none;
}
.about a:hover, .about a:focus {
  background-color: #C9CABD;
  border: 1px solid #16100E;
  color: #16100E;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 28px;
}

.featuredProjects .tagline,
.featuredProjects h3 {
  color: #FFF;
}

.projectDescription {
  line-height: 28px;
  font-size: 1rem;
}

.taglineNumber {
  line-height: 28px;
  border-bottom: 1px solid #D8D8D8;
  letter-spacing: 2px;
}

.project2 .taglineNumber,
.project1 .taglineNumber {
  border-bottom: 1px solid #16100E;
}

.skills h2 {
  color: #FCFCFA;
  text-align: center;
  padding: 5% 0;
}

.skillsList p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 1rem;
}

.featuredLink {
  font-family: "Bigilla";
  font-size: 1.2rem;
  color: #FFF;
  padding: 2% 5% 2% 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.featuredLink::after {
  content: url(../assets/images/Arrow-White-Right.png);
  width: 55px;
  height: 30px;
  padding-left: 1.5%;
  display: inline-block;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.projectDescription a {
  text-decoration: none;
}
.projectDescription a:hover, .projectDescription a:focus {
  border-bottom: 2px dashed #202316;
}

.featuredProjects .project2 .textContainer *, .featuredProjects .project1 .textContainer * {
  color: #16100E;
}

footer p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #16100E;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  background-color: #202316;
  border: 1px solid #FFF;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2% 5%;
  border-radius: 30px;
}
button:hover, button:focus {
  background-color: #C9CABD;
  border: 1px solid #16100E;
  color: #16100E;
}

footer {
  background-color: #C9CABD;
  padding: 1%;
}

header {
  background-color: #C9CABD;
  height: 80vh;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  border-bottom: 2px solid #D8D8D8;
  z-index: 10;
}
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
}
.mainNav ul li {
  margin: 0 7%;
}

.logo {
  padding-left: 2%;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.backgroundBox {
  width: 30%;
}

.headerBackgroundImage {
  background-image: url(../assets/images/kari-shea-1SAnrIxw5OY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 80vh;
  opacity: 80%;
}

header .textContainer {
  position: absolute;
  bottom: 40%;
  left: 10%;
}

.scrollActive {
  background-color: #C9CABD;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.brush {
  background-image: url(../assets/images/brush-stroke-banner-5.svg);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
  display: inline-block;
}

.about {
  background-color: #202316;
  padding: 5% 0;
}
.about h2 {
  text-align: center;
  padding: 5% 0;
}

.sideText {
  margin-bottom: 5%;
}

.about .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .contentContainer .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 5%;
  width: 100%;
}
.about .contentContainer .textContainer p {
  margin-bottom: 5%;
  line-height: 28px;
}

.about .imageContainer {
  width: 35%;
}

.taglineSpan {
  display: block;
}

.about .brushBeige {
  background-image: url(../assets/images/brush-stroke-banner-5-beige.svg);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
  display: block;
}

.skills {
  background-color: #C9CABD;
  padding: 5% 0;
}

.skillsList {
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.skillsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 20%;
  padding-bottom: 5%;
}
.skillsList li:hover, .skillsList li:focus {
  color: #202316;
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.skillsList i {
  font-size: 4rem;
  color: #202316;
  padding-bottom: 10%;
}

.skills .brush {
  background-image: url(../assets/images/brush-stroke-banner-5.svg);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
  display: block;
}

.project2, .project1 {
  background-color: #C9CABD;
  padding: 10% 0;
}

.project2 .wrapper, .project1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project2 .contentContainer, .project1 .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5%;
  width: 50%;
}
.project2 .contentContainer .projectFrameworks, .project1 .contentContainer .projectFrameworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5%;
}
.project2 .contentContainer .projectFrameworks li, .project1 .contentContainer .projectFrameworks li {
  margin-right: 2%;
  letter-spacing: 2px;
}

.projectFrameworks p {
  font-size: 1rem;
}

.featuredProjects .textContainer p,
.featuredProjects .textContainer a {
  margin-bottom: 5%;
  color: #FFF;
}

.project2 .imageContainer, .project1 .imageContainer {
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project2 .imageContainer img, .project1 .imageContainer img {
  -o-object-fit: contain;
     object-fit: contain;
}

.project4,
.project3 {
  padding: 10% 0;
  background-color: #202316;
}

.project4 .wrapper,
.project3 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project4 .contentContainer,
.project3 .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
  width: 50%;
}
.project4 .contentContainer .projectFrameworks,
.project3 .contentContainer .projectFrameworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5%;
}
.project4 .contentContainer .projectFrameworks li,
.project3 .contentContainer .projectFrameworks li {
  margin-right: 2%;
  letter-spacing: 2px;
}

.project4 .imageContainer,
.project3 .imageContainer {
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project4 .imageContainer img,
.project3 .imageContainer img {
  -o-object-fit: contain;
     object-fit: contain;
}

.contact {
  background-color: #202316;
  padding: 5%;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactText {
  width: 40%;
}
.contactText p {
  margin-bottom: 10%;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 1rem;
  color: #FFF;
}
.contactText a {
  margin-bottom: 2%;
  text-decoration: none;
  letter-spacing: 1px;
  color: #16100E;
}
.contactText a:hover, .contactText a:focus {
  border-bottom: 1px solid #C9CABD;
}

.contactForm {
  width: 50%;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2%;
}
.socialIcons li {
  margin-right: 5%;
}
.socialIcons i {
  font-size: 2rem;
  color: #FFF;
}
.socialIcons i:hover, .socialIcons i:focus {
  color: #C9CABD;
}

input, textarea {
  padding: 0 0 10px 5px;
  border: none;
  margin-bottom: 5%;
  background-color: #202316;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #FFF;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 0.8rem;
  color: #FFF;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  color: #FFF;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  color: #FFF;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
input::placeholder, textarea::placeholder {
  font-size: 0.8rem;
  color: #FFF;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
input:hover, input:focus, textarea:hover, textarea:focus {
  border-bottom: 2px dashed #C9CABD;
}

input {
  border: none;
  border-bottom: 2px solid #D8D8D8;
  color: #FFF;
  letter-spacing: 2px;
}

textarea {
  resize: none;
  min-height: 130px;
  border-bottom: 2px solid #D8D8D8;
  border-top: none;
  color: #FFF;
  letter-spacing: 2px;
}

.contact .brush {
  background-image: url(../assets/images/brush-stroke-banner-5-beige.svg);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
  display: block;
}

@media (max-width: 1000px) {
  .headerBackgroundImage {
    width: 100%;
  }

  .backgroundBox {
    width: 0;
  }

  .contactText {
    width: 45%;
  }
  .contactText h3 {
    font-size: 3rem;
  }
}
@media (max-width: 900px) {
  .skillsList li {
    margin: 0 1% 0 1%;
    width: 25%;
  }

  .project4 .wrapper,
.project3 .wrapper,
.project2 .wrapper,
.project1 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .project4 .contentContainer,
.project3 .contentContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .project2 .contentContainer,
.project1 .contentContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 800px) {
  .about .contentContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .about .contentContainer .textContainer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .about .textContainer p {
    font-size: 0.9rem;
    text-align: left;
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .contactText {
    margin-bottom: 5%;
    border-bottom: 1px solid #202316;
    padding-bottom: 5%;
  }

  .contactText,
.contactForm {
    width: 100%;
  }

  .contactForm button {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .about .contentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about .imageContainer {
    width: 50%;
    margin-bottom: 3%;
  }

  .skills .skillsList p {
    font-size: 0.8rem;
  }

  .project4 .contentContainer, .project3 .contentContainer {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .mainNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5%;
  }
  .mainNav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainNav ul li {
    margin-right: 0;
  }

  .mainNav ul li:first-child {
    display: none;
  }

  .skillsList li {
    width: 35%;
  }

  footer {
    padding: 3%;
  }
  footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .about .textContainer p {
    font-size: 0.8rem;
  }

  .about .textContainer a {
    width: 100%;
    text-align: center;
  }

  h2 {
    font-size: 4rem;
  }

  .projectFrameworks p {
    font-size: 0.8rem;
  }

  .featuredProjects h3 {
    font-size: 2.8rem;
  }
}
@media (max-width: 420px) {
  .about .textContainer p {
    font-size: 0.7rem;
    line-height: 24px;
  }

  h2 {
    font-size: 3rem;
  }

  .skills .skillsList p {
    font-size: 0.7rem;
  }

  .skillsList li {
    margin: 0 4% 0 4%;
  }

  .contactText h3 {
    font-size: 2.5rem;
  }
}